.root {
  display: grid;
  min-width: 0;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min, 12rem), 1fr));
}

.gap3 {
  gap: var(--space-3);
}

.gap4 {
  gap: var(--space-4);
}

.gap5 {
  gap: var(--space-5);
}

.gap6 {
  gap: var(--space-6);
}
