html,
body,
#root {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

@media print {
  html,
  body,
  #root {
    min-height: 0;
  }
}
