.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: center center;
}

.leaders {
  position: absolute;
  top: 80%;
  left: 15%;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(5deg);
}

.leader {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 10px solid #222;
  border-top-width: 0;
  border-bottom-width: 4px;
  border-left-width: 0px;
  border-right-width: 1px;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

.traitors {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 20%;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(20deg);
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

.troops {
  position: absolute;
  top: 55%;
  right: 65%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2vw;
  transform-style: preserve-3d;
  transform: rotateX(40deg) rotateY(10deg) rotateZ(-10deg);
  filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.5));
}
.spice {
  position: absolute;
  top: 65%;
  right: 65%;
  width: 15%;
  transform-style: preserve-3d;
  transform: rotateX(40deg) rotateY(10deg) rotateZ(-10deg);
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

.troop {
  position: relative;
  width: 50px;
  height: 50px;
}

.disc {
  width: 50px;
  height: 50px;
  border: 10px solid #222;
  border-top-width: 0;
  border-bottom-width: 4px;
  border-left-width: 0px;
  border-right-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;

  &:first-child {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  }
}

.shield {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 1608px;
  height: 805px;

  transform-style: preserve-3d;
  clip-path: polygon(
    2% 83%,
    7% 28%,
    20% 20%,
    21% 6%,
    33% 7%,
    67% 7%,
    79% 5%,
    80% 20%,
    93% 27%,
    98% 83%,
    70% 94%,
    30% 94%
  );

  transform: rotateY(26deg) rotateX(13deg) scale(0.6) translate(300px, -70px);
}

.alliance {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 900px;
  height: 1263px;

  transform-style: preserve-3d;

  transform: rotateY(24deg) rotateX(17deg) scale(0.18) translate(-1996px, -907px);
  filter: drop-shadow(2px 13px 10px black);
}

.sheet {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 700px;
  height: 830px;

  transform: rotateY(24deg) rotateX(17deg) scale(0.18) translate(-1996px, -907px);

  & ul,
  & ol {
    margin: 0;
    padding: 0 0 0 2.2vw;
  }

  & p {
    margin: 0;
  }

  & p + *,
  & ul + *,
  & ol + * {
    margin-top: 2vw;
  }

  & ul {
    list-style: disc;
  }
}

.sheetpage {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 700px;
  height: 830px;
  background-color: #fffdf1;

  & + & {
    transform: rotateX(5deg);
  }
}
